.header {
  background: #a90329;
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 50%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(50%,#8f0222), color-stop(100%,#6d0019));
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 50%,#6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
  color: white;
  font-family: 'Playball';
  font-size: 170%;
}

.header h1 {
  margin-top: 10px;
}

.header h3 {
  margin-top: -30px;
  margin-bottom: 60px;
}

.buttons {
  font-family: 'Glegoo';
  margin-left: 80px;
}

.description{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  min-width: 200px;
  max-width: 1150px;
}

.first-letter{
  float: left;
  font-size: 50px;
  margin-right: 5px;
  margin-top: -13px;
  margin-bottom: -15px;
  padding: 0px;
}

.welcome {
  margin-top:-5px;
  margin-bottom: 12px;
}

.no-border {
  font-weight: bold;
  background: #a90329;
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 50%, #6d0019 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(50%,#8f0222), color-stop(100%,#6d0019));
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 50%,#6d0019 100%);
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 50%,#6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
  box-shadow: 2px 5px 6px #888888;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  width: 150px;
  border: none;
  outline: none;
}

.no-border:hover {
  color: white;
  background: #fb053f;
  background: -moz-linear-gradient(top,  #fb053f 0%, #eb0339 44%, #d20031 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb053f), color-stop(44%,#eb0339), color-stop(100%,#d20031));
  background: -webkit-linear-gradient(top,  #fb053f 0%,#eb0339 44%,#d20031 100%);
  background: -o-linear-gradient(top,  #fb053f 0%,#eb0339 44%,#d20031 100%);
  background: -ms-linear-gradient(top,  #fb053f 0%,#eb0339 44%,#d20031 100%);
  background: linear-gradient(to bottom,  #fb053f 0%,#eb0339 44%,#d20031 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb053f', endColorstr='#d20031',GradientType=0 );
}

.no-border:focus {
  color: white;
  box-shadow: 2px 5px 6px #34495e;
}

.fadedHr {
  display: block;
  border: 0;
  height: 1px;
  width: 90%;
  background: red;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 770, from(#c10202), to(#f7f2ea));
}

.carousel {
  display:inline-block;
  margin:0;
}

.carousel img {
  display: block;
  max-width: 800px;
  min-width: 322px;
  min-height: 180px;
}

.calendar-outer {
  display: block;
}

.weather-frame {
  display:inline-flex;
  margin-left: 20px;
  box-shadow: 2px 5px 6px #888888;
  vertical-align: top;
  position: absolute;
}

.footer {
  font-size: 13px;
}

hr {
  display: block;
  border-style: inset;
  border-width: 2px;
}

html, body {
  background: #fff2de;
  background: -moz-radial-gradient(center, ellipse cover, #fff2de 0%, #f7f2ea 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff2de), color-stop(100%, #f7f2ea));
  background: -webkit-radial-gradient(center, ellipse cover, #fff2de 0%, #f7f2ea 100%);
  background: -o-radial-gradient(center, ellipse cover, #fff2de 0%, #f7f2ea 100%);
  background: -ms-radial-gradient(center, ellipse cover, #fff2de 0%, #f7f2ea 100%);
  background: radial-gradient(ellipse at center, #fff2de 0%, #f7f2ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2de', endColorstr='#f7f2ea', GradientType=1 );
  font-family: 'Glegoo';
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Glegoo', sans-serif;
}

@font-face {
  font-family: 'Playball', cursive;
}
